html,body{
  margin: 0;
  height: 100%;
}
#app{
  height: 100%;
}

.m-nav{
  background-color: #404654;
}

.g-mn{
  height: 100%;
  background-color: #292d38;
}

.m-hd .u-name{
  float: left;
  padding: 0 30px;
  width: 200px;
}

.m-hd .u-user{
  float: right;
}

.m-nav-s{
  padding: 20px;
  width: 100%;
  height: 30px;
  background-color: #E9EEF3;
  box-sizing: border-box;
}

.g-main{
  overflow: auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.g-ft{
  color: #fff;
}

.el-header, .el-footer {
  color: #fff;
  line-height: 60px;
}
.el-header{
  padding: 0;
}
.el-footer{
  height: 50px !important;
  line-height: 50px;
  background-color: #292d38;
}
.el-aside {
  color: #333;
  line-height: 200px;
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
}
